.features
  .container
    %ul.features-container
      %li.feature
        %h3 ¿Qué es un reto?
        %p
          Un Reto es la invitación abierta a la comunidad de innovadores y sociedad civil a contribuir a la resolver una necesidad específica de una Empresa o Dependencia de Gobierno.  El Reto tiene varios componentes: necesidad, atributos de la solución, métricas de éxito y premio o pago por la solución.
      %li.feature
        %h3 ¿Quién puede participar?
        %p
          En general, en los procesos de Reto México podrán participar:personas físicas, asociaciones, organizaciones, instituciones educativas, empresas, y la comunidad en general. Esto lo determina quien lanza el reto con el objetivo de estimular participación en audiencias específicas.   Para información específica de elegibilidad para retos, por favor revisa la convocatoria de cada uno de los Retos.
      %li.feature
        %h3 ¿Quién puede lanzar un reto?
        %p
          Sector privado: como pequeñas, medianas, grandes empresas y organizaciones legalmente constituidas que han identificado necesidades a satisfacer y requieren la infraestructura y/o recursos humanos suficientes para afrontarlos y consideran a la innovación como un factor necesario para su desarrollo.
        %p
          Sector público: gobiernos locales (estatal y municipal), dependencias o entidades federales, que buscan eficientar los procesos de adquisición de bienes y servicios a través de la Compra Pública Innovadora
.icons
  .container
    %ul.bullets
      %li.bullet
        =link_to "#{config[:host]}/retos" do
          = image_tag("icons/phone.png")
          .bullet-content
          %h2 Participa<br>en un reto
      %li.bullet
        =link_to "#{config[:host]}/retadores" do
          = image_tag("icons/challengers.png")
          .bullet-content
          %h2 Conoce a los<br>retadores
      %li.bullet
        =link_to "#{config[:host]}/acerca" do
          = image_tag("icons/about.png")
          .bullet-content
          %h2 ¿Cómo funciona<br>Reto México?
